azure-ai-projects==1.1.0b4
azure-ai-agents==1.1.0b4
azure-ai-evaluation
azure-ai-evaluation[redteam]
azure-ai-inference
streamlit
openai
uv
python-dotenv
opentelemetry-sdk
opentelemetry-api
azure-identity
azure-search-documents
azure-ai-inference[prompts]
azure-monitor-opentelemetry
speech-recognition
pydub
azure-mgmt-logic
gtts
aiortc
plotly.express
pyautogui>=0.9.54
Pillow>=11.1.0
azure-kusto-data
openai[realtime]
qrcode