azure-ai-projects
azure-ai-agents
azure-ai-evaluation
azure-ai-evaluation[redteam]
azure-ai-inference
streamlit
openai
uv
python-dotenv
opentelemetry-sdk
opentelemetry-api
azure-identity
azure-search-documents
azure-ai-inference[prompts]